body{
    background-image:url(imgs/President\ Background.jpg);
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
}
html {
    height: 100%;
    width: 100%;
}
.Photo{
    width:100%;
    height:50vh;
    object-fit: cover;
    object-position: center;
}
footer{
    color:black !important;
}